# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Model
tox_model.pth
*.pth

# Logs
*.log

#Data
/Data